<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/index_background.css' %}">

</head>
<body>
  <div class="raveMode">
    <input class="btn" type="button" value="RaveMode" onclick="raveMode()">
  </div>
  <div class="navigation">
    <div class="projects">
      <!-- this a html element that creates a line -->
      <hr class="rgbLine" id="projectsLine">
      <div class="link">
        <input class="btn" id="projectsLink" type="button" onclick="location.href='/resume';" value="Projects" />
      </div>
    </div>
    <div class="resume">
      <!-- this a html element that creates a line -->
      <hr class="rgbLine" id="resumeLine">
      <div class="link">
        <input class="btn" id="resumeLink" type="button" onclick="location.href='/resume';" value="Resume">
      </div>
    </div>
  </div>
  <div class="profileDiv">
    <img id="profilePic" src="{% static 'img/bio.jpg' %}" alt="Profile Picture">
  </div>
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/dotenv@16.0.1/lib/main.min.js"></script>
  <script src="{% static 'js/apiCalls/ipAPI.js' %}"></script>
  <script src="{% static 'js/frontEnd/index.js' %}"></script>
</body>
<!-- teest -->
</html>